{% extends "::base.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% trans_default_domain 'TravelCarBundle' %}

{% block stylesheets_layout %} 
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.datetimepicker.css')}}">
{% endblock %}

{% block title %} ajouter {% endblock %}

{% block header_heading %} {{'text.annonce.heading'|trans}} {% endblock %}

{% block body %}
    <div class='row'>
        <div class='col-md-6'>
         {% include "TravelCarBundle:Annonce:annonce.html.twig" %}
        </div>
        <div class='col-md-6'>
        </div>
    </div>
{%endblock%}

 {% block javascripts %}
         <script type="text/javascript">
             $.datetimepicker.setLocale('fr');
             $('#travelcar_annoncebundle_annonce_dateDep').datetimepicker({
                mask:'19/39/9999 29:59',
                format:'d/m/Y h:m',
                formatDate:'d/m/Y',
                minDate:'0',
             });
             
             $('#travelcar_annoncebundle_annonce_tempsTrajet').datetimepicker({
                mask:'29:59',
                format:'h:m',
                datepicker: false
             });
             
         </script>
{% endblock %}