{%extends "::base.html.twig"%}
{%trans_default_domain 'TravelCarBundleAnnonce'%}
{% block title %} acceuil {% endblock %}

{% block header_heading %} {{'text.heading'|trans}} {% endblock %}

{% block header_subheading %}

            {% include "TravelCarBundle:TravelCar:search.html.twig" %}
                          
{% endblock %}

{% block body %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
    </div>
{% endblock %}


{% block javascripts %}
         <script type="text/javascript">
             $.datetimepicker.setLocale('fr');
             $('#form_date_dep').datetimepicker({
                mask:'19 39 9999',
                format:'d m Y',
                timepicker:false
             });
         </script>
{% endblock %}