{%extends "::base.html.twig"%}
{%trans_default_domain 'TravelCarBundle'%}
{% block title %} {{'text.about'|trans}}  {% endblock %}

{% block header_heading %} {{'text.about'|trans}} {% endblock %}



{% block body %}


    <p> TravelCar est un projet humanitaire proposant des voyages gratuitement. </p> <br>
    <p> TOUT EST GRATUIT. ( Pas de système de paiement ) ZIAKkKKKKKKKKKK </p>


{% endblock %} 