{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <div class="col-md-12">
        <div class="col-md-6">
            <a class="btn btn-lg btn-primary" href="{{ path('fos_user_profile_edit') }}">{{ 'label.profile.edit'|trans }}</a>
        </div>

        <div class="col-md-6">
            <a class="btn btn-lg btn-danger" href="{{ path('fos_user_change_password') }}">{{ 'label.profile.change_pwd'|trans }}</a>
        </div>
    </div>


{% endblock %}