{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'label.profile.edit'|trans }}</a>
    <br>
    <a href="{{ path('fos_user_change_password') }}">{{ 'label.profile.change_pwd'|trans }}</a>
{% endblock %}