<div class="panel">
{% if posts is defined and posts is not empty %}
{% for post in posts %}
<div class="panel-body">
    <h5> {{post.user.name}} {{post.user.lastName}} </h5>
    <div class="col-md-12">
        <small>{{post.comment}}</small>
    </div>
    <div class="col-md-12">
        {% if post.response is not empty %}
            <small>{{post.response}}</small>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
</div>