<form action="{{ path('travel_car_language') }}" method="POST">
    <input name="language" type="text" hidden="hidden">
        <img src="{{ asset("/assets/img/drapeau_france.png") }} " alt="fr" class="center-block img-circle img-responsive"/>
        <img src="{{ asset("/assets/img/drapeau_france.png") }} " alt="en" class="center-block img-circle img-responsive"/>
</form>
{% block javascript %}
<script>
    $('img').onclick(function () {
        console.log($(this).attributes('alt'));
        //$("name language").val($(this).attributes(alt));
    })
</script>
{% endblock %}